.bg {
  background-image: url(https://images.wallpaperscraft.com/image/single/purple_white_background_65537_300x168.jpg);
  background-size: cover;

  overflow: hidden;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.hem {
  /* HEM */

  position: absolute;
  width: 91px;
  height: 44px;
  left: 750px;
  top: 0px;

  font-family: 'Noto Sans Kannada UI';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 54px;

  color: #FFFFFF;
}

.kalender {
  /* KALENDER */

  position: absolute;
  width: 215px;
  height: 47px;
  left: 878px;
  top: 0px;
  font-family: 'Noto Sans Kannada UI';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 54px;

  color: #FFFFFF;
}

.todo {
  /* TO DO */

  position: absolute;
  width: 132px;
  height: 47px;
  left: 1110px;
  top: 0px;
  font-family: 'Noto Sans Kannada UI';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 54px;

  color: #FFFFFF;
}

.line1 {

  position: absolute;
  width: 100px;
  height: 0px;
  left: 1170px;
  top: 174px;

  border: 5px solid #FFFFFF;
  transform: rotate(-180deg);
}

.line2 {

 position: absolute;
 width: 100px;
 height: 0px;
 left: 1170px;
 top: 225px;

 border: 5px solid #FFFFFF;
 transform: rotate(-180deg);
}

.line3 {

  position: absolute;
  width: 100px;
  height: 0px;
  left: 1170px;
  top: 275px;
 
  border: 5px solid #FFFFFF;
  transform: rotate(-180deg);
 }